*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f0f0f0;
}
.container {
  min-width: 300px;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h2 {
  text-align: center;
  padding-bottom: 20px;
}
#googleContinueButton{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: lightgray;
  color: white;
  cursor: pointer;
  margin: 0 0 20px;
  transition: all 0.3s;
}
#googleContinueButton:hover{
  background-color: #28a745;
}
.g-icon{
  width: 20px;
}
.container form{
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.container input[type="email"],
input[type="text"] {
  display: block;
  width: 100%;
  height: 43px;
  outline-color: #28a745;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}
.pass-box {
  display: flex;
  align-items: center;
  gap: 5px;
  width: 100%;
  height: 43px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  overflow: hidden;
}
.pass-box:focus-within {
  border: 2px solid #28a745;
}
.pass-box input{
  width: 100%;
  border: none;
  outline: none;
}
.eye-box i {
  font-size: 13px;
  cursor: pointer;
}
#fa-eye-slash{
  display: none;
}
.rem-login{
  display: flex;
  gap: 5px;
  margin-top: 20px;
}
.rem-login input{
  cursor: pointer;
}
.rem-login label{
  font-size: 14px;
  color: #28a745;
  display: flex;
  justify-content: space-between;
}
.container button {
  width: 100%;
  padding: 10px;
  margin-top: 20px;
  border: none;
  border-radius: 5px;
  background-color: #28a745;
  color: white;
  cursor: pointer;
}
.container button:hover {
  background-color: #2fc451;
}
.container p{
  text-align: center;
  margin: 20px 0;
}
.forgot{
  width: 100%;
  margin-bottom: 20px;
  text-align: center;
}
.forgot a{
  color: #28a745;
  cursor: pointer;
}
.text{
  font-size: 14px;
  color: #28a745;
  display: flex;
  justify-content: space-between;
}
.text a{
  color: #28a745;
  text-decoration: none;
}

/* Account */
.home h2 {
  font-size: 30px;
  margin-bottom: 20px;
}
.user {
  font-size: 20px;
  font-weight: bold;
  margin: 0 !important;
}
#userInfo{
  font-size: 18px;
  color: #28a745;
}
#errBody{
  display: none;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 30px;
  right: 0;
  left: 0;
}
#errorAuth, #logIn, #logOut{
  max-width: 300px;
  background: #fff;
  padding: 5px;
  border-radius: 3px;
  border: 1px solid #28a745;
}